p{
    color: red;
}
// 1- Anidacion y hover con anidacion
.contenedor{
    background-color: yellow;
    .titulo{
        color: violet;
        &:hover{
            color: white;
        }
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    &:hover{
        color: coral;
    }
}